@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    background-color: #fafbfc;
    
}

header {
    background-color: #8a2be2;
    padding: 10px;
    color: #fff;
    text-align: center;
}

main {
    margin: auto;
    max-width: 800px;
    padding: 30px 50px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
}

.lineInput {
    display: grid;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}

button {
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color:  #8a2be2;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    transition: all ease 0.6s;
}

button:hover {
    cursor: pointer;
    background-color: #470f7a;

}

.content {
    margin-top: 15px;

}

table {
    margin: auto;
    border-collapse: collapse;
    border: solid 1px #ccc;
    width: 90%;
}
table th {
    background-color: rgb(214,214,214);
    
}
table  td , th {
    border: solid 1px #ccc;
    text-align: left;
    padding-left: 8px;
}

table td img {
    width: 22px;
    margin-right: 8px;
    
}

.center {
    text-align: center;
}

tfoot {
    background-color: #ccc;
}

footer a {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    margin-right: 20px;
    margin-top: 50px;
    text-decoration: none;
    color: #000000;
}

footer a:hover {
    cursor: pointer;
    font-weight: bolder;
    font-size: 0.9em;
    color: #00007b;
}

footer p {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    margin-right: 20px;
    margin-top: 50px;
    
}

@media (max-width: 600px) {
    table {
        font-size: 0.9em; /* Reduz a fonte para caber melhor na tela */
    }
    th, td {
        padding: 4px; /* Reduz o espaçamento para economizar espaço */
    }
}

table {
    width: 100%; /* A tabela ocupará 100% da largura disponível */
    
    border-collapse: collapse;
}
th, td {
    word-wrap: break-word; /* Quebra o texto longo para caber na célula */
    padding: 8px;
    text-align: left;
}

.content {
    overflow-x: auto;
}

footer p {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    margin-right: 20px;
    margin-top: 10px;
    
}